<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-12 col-md-3 col-lg-3">
    <circle-progress
      [imageSrc]="'../../../assets/unity.png'"
      [showImage]="true"
      [imageHeight]="130"
      [imageWidth]="130"
      [percent]="85"
      [radius]="100"
      [showUnits]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'rgb(255, 0, 0)'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="1000"
      [backgroundColor]="'grey'"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-12 col-md-3 col-lg-3">
    <circle-progress
      [imageSrc]="'../../../assets/c.png'"
      [showImage]="true"
      [imageHeight]="140"
      [imageWidth]="140"
      [percent]="85"
      [radius]="100"
      [showUnits]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'rgb(255, 0, 0)'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="1000"
      [backgroundColor]="'grey'"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-12 col-md-3 col-lg-3">
    <circle-progress
      [imageSrc]="'../../../assets/html.png'"
      [showImage]="true"
      [imageHeight]="110"
      [imageWidth]="110"
      [percent]="85"
      [radius]="100"
      [showUnits]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'rgb(255, 0, 0)'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="1000"
      [backgroundColor]="'grey'"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-12 col-md-3 col-lg-3">
    <circle-progress
      [imageSrc]="'../../../assets/CSS.png'"
      [showImage]="true"
      [imageHeight]="120"
      [imageWidth]="110"
      [percent]="85"
      [radius]="100"
      [showUnits]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'rgb(255, 0, 0)'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="1000"
      [backgroundColor]="'grey'"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-12 col-md-3 col-lg-3">
    <circle-progress
      [imageSrc]="'../../../assets/js.png'"
      [showImage]="true"
      [imageHeight]="110"
      [imageWidth]="110"
      [percent]="85"
      [radius]="100"
      [showUnits]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'rgb(255, 0, 0)'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="1000"
      [backgroundColor]="'grey'"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-12 col-md-3 col-lg-3">
    <circle-progress
      [imageSrc]="'../../../assets/git.png'"
      [showImage]="true"
      [imageHeight]="110"
      [imageWidth]="110"
      [percent]="85"
      [radius]="100"
      [showUnits]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'rgb(255, 0, 0)'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="1000"
      [backgroundColor]="'grey'"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-12 col-md-3 col-lg-3">
    <circle-progress
      [imageSrc]="'../../../assets/angular.png'"
      [showImage]="true"
      [imageHeight]="150"
      [imageWidth]="230"
      [percent]="85"
      [radius]="100"
      [showUnits]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'rgb(255, 0, 0)'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="1000"
      [backgroundColor]="'grey'"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-12 col-md-4 col-lg-3">
    <circle-progress
      [imageSrc]="'../../../assets/grupal.png'"
      [showImage]="true"
      [imageHeight]="110"
      [imageWidth]="110"
      [percent]="85"
      [radius]="100"
      [showUnits]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'rgb(255, 0, 0)'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="1000"
      [backgroundColor]="'grey'"
    ></circle-progress>
  </div>
  

</div>