<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Tecnicatura Superior en Programación - UTN</h2> - <h3>(2 años)</h3>
            </li>
            <p>
                Universidad Tecnologica Nacional
                En esta carrera comencé en el mundo de la programacíon adquiriendo conocimientos con Fundamentos de programación,
                Sistemas de procesamiento de Datos, Arquitectura y sistemas Operativos, Diseño y administración de base de datos,
                Metodología de Sistemas. Programacion imperativa, declarativa, estructurada, modular, POO, con los lenguajes C, C++, Java.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Cursos online</h2> - <h3>(Udemy y Youtube)</h3>
            </li>
            <p>
                * Monetización con Unity ADS.
            </p>
        </ul>
        <div class="row">
            <div class="col">
                <p>
                    * Master en PHP, POO, MVC (Modelo Vista Controlador), bases de datos, SQL, MySQL,
                    Laravel 5, 6, 7 y 8, Symfony 4 y 5, WordPress y más.
                </p>
            </div>
            <div class="col">
                <img src="../../../assets/php.jpg" id="php">
            </div>
            <div class="col"></div>
            <div class="col">
                <p>
                    * Máster en Programación de Videojuegos con Unity® 2021 y C# para publicar en pc, android e iOS.
                </p>
            </div>
            <div class="col">
                <img src="../../../assets/master1.jpg" id="master">
            </div>
            <div class="col"></div>
            <div class="col">
                <p>
                    * Creación de videojuegos RPG en 2D con Unity.
                </p>
            </div>
            <div class="col">
                <img src="../../../assets/rpg.jpg" id="rpg">
            </div>
            <div class="col"></div>
        </div>
        <ul>
            <li>
                <h2>Licenciatura en Produccion de Videojuegos</h2> - <h3>(2 años)</h3>
            </li>
            <p>
                En el periodo cursado he incursionado a formación técnica para la creación de videojuegos 
                en todo su proceso de programación, desde la idea inicial hasta el usuario final.
                Además, herramientas multidisciplinarias para hacer que los nuevos videojuegos o aplicaciones 
                tengan éxito en los niveles de descarga y circulación entre las millones de propuestas ya existentes.
                Aqui conocí el motor Unity con el uso de C# en Visual Studio.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Mentoría Pro Game Developer</h2> - <h3>(en curso)</h3>
            </li>
            <p>
                Producción, Desarrollo y Publicación de games con el motor de videojuegos mas demandado del sector.
                Un sistema de aprendisaje nuevo con seguimiento y apoyo 24/7 por el mentor experto y creador del curso.
                Cursado secuencial obligatorio con entrega de trabajos prácticos obligatorios de diseño y programación en C#.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Programa nacional ArgentinaPrograma</h2> - <h3>(en curso)</h3>
            </li>
            <p>
                Programación imperativa con JavaScript.
                Programación POO con Ruby.
                Desarrollo web y aplicaciones, metodologías ágiles, gestión de proyectos, Github, habilidades para la 
                programación de sitios web estáticos usando HTML, CSS, y Javascript, Front End estático - Desarrollo Web Dinámico,
                Bases de datos, POO - Buenas prácticas de programación, Backend - desarrollo web con Java utilizando JSP, Servlets,
                Sockets y conexión con base de datos,
                Java Spring boot, Dev Ops
            </p>
        </ul>
    </div>
</div>
