.row{
    padding: 20px;
    color: #fff;
}

div{
    background-color: #000;
}
h2,h3{
    display: inline;
}
h1{
    color: rgb(41, 182, 60);
    margin-left: 20px;
}
#php,#master,#rpg{
    width: 100%;
    box-shadow: 5px 5px 35px #39d313;
}
