<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>SIN EXPERIENCIA LABORAL</h2> - <h3></h3>
            </li>
            <p>
                Debido a que éste portfolio es mi primer trabajo como desarrollador web y aun no poseo publicaciones de
                videojuegos publicados, mi experiencia laboral es nula como empleado en modo de dependencia para alguna empresa.
            </p>
        </ul>
    </div>
</div>
