
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/858522_530973500259418_351253372_o (2).jpg" 
        class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Góngora Lucas Daniel</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Soy Técnico electrónico, Desarrollador Full Stack web, Desarrollador Games Unity y un padre de familia dedicado.</p>
        </span>
    </div>
</div>