<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
        <img src="../../../assets/lucas.jpg" 
        class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Góngora Lucas Daniel</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Non eligendi reiciendis expedita, maiores dolores aspernatur
                a corporis ut est. Inventore adipisci nam, earum molestias
                accusantium facilis deleniti perferendis qui eum?</p>
        </span>
    </div>
</div>
