<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
        <img src="../../../assets/lucas.jpg" 
        class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Góngora Lucas Daniel</p>
        <p id="titulo">Full Stack Developer Jr</p>
        <p id="titulo2">Unity Game Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Mis inicios fueron en el sector tecnológico industrial, siempre en la rama de equipos de mantenimiento eléctrico electrónico. Adquirí experiencia en robótica, programación de dispositivos de automatización, entre otros. 
                Aun así siempre mantuve una gran atracción por el mundo digital informático, lo que me ha llevado a incursionar paralelamente en el mundo de la promagracion de software de modo autodidacta, en el desarrollo de videojuegos y entretenimientos digitales, en varios lenguajes de programacion como C, C++, Java, JavaScript y también complemetar tales avances con cursos online de los mismos temas, ademas de desarrollo webs con PHP, CSS, SQL, JavaScript, Ruby y C#.
                Actualmente estoy realizando una mentoría online Pro Game Developer, de la plataforma MASTER DEVs, a cargo del experto Mariano Rivas.
                
                Lo importante de mi busqueda es encontrar una empresa que entienda y confié en mi deseo y responsabilidad para lograr insertarme en el rubro digital definitivamente, para desarrollarme como profesional dando lo mejor de mi PERSEVERANCIA e IMAGINACIÓN.
                Soy una persona enfocada y considero que me destaco en cuanto a innovar, mejorar procesos, y sobre todo construir soluciones. Considero que mi rendimiento es muy bueno, tanto individualmente como también en equipo.
                
                Mis intereses en cuanto a tecnologías están enfocadas principalmente en Unity(games/apps mobiles) y desarrollo web, ya que sé que en este camino nunca se deja de aprender y crecer.
                
                Algunos de mis hobbies son andar en bicicleta con mis hijos, escribir (tradicionalmente en papel), crear contenido en un canal de youtube de electrónica.
            </p>
        </span>
    </div>
</div>
<!--https://www.youtube.com/channel/UCzmJ3pdfHqnwnbPAXYcnXdw-->